<main class="container">
  <%= link_to sanitize("&larr; Back to question"), question_path(@question) %>

  <div class="header">
    <h1>Edit question</h1>
  </div>

  <%= turbo_frame_tag @question do %>
    <block>
    <%= render "form", question: @question %>
    </block>
  <% end %>
</main>